{% extends "index.html" %}

	{% block url %}
		{{url}}
	{% endblock %}

	{% block error %}
		{{error}}
	{% endblock %}

	{% block from %}
		Converting From: {{input}}
	{% endblock %}

	

	{% block to %}
		Converting to: {{to}}
	{% endblock %}

	{% block amount %}
		Amount to Convert: {{amount}}
	{% endblock %}

	{% block button %}
		Conversion Result:
	{% endblock %}

	{% block result %}
		{{ result }}
	{% endblock %}
	
	{% block return %}
	<form action="/">
		<button type="submit">Return to Conversion </button>
	</form>
	{% endblock %}
	
